{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
  <div class="col-lg-7">
<div class="row mt-5 pt-5">
    <div class="col-lg-7 ml-auto mr-auto bg-light">
    <div class = "container">
        <h1 class="mt-5 posttitle text-center">Forgot Password?</h1>
        <p class="postcontent">Enter the e-mail you used in registering for this site,instructions on how to reset the password will be e-mailed to you.</p>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
    <input type="submit" value="Send" class=" mb-5 btn btn-dark">
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>

{% endblock content %}