{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
<div class="row mt-5">
    <div class="col-lg-7 mr-auto ml-auto bg-light">
<h1 class="display-3 mt-5 header text-center"> Enter a new password</h1>
{% if validlink %}
<p class="lead postcontent">
    Enter the new password you will like to use for your account
</p>
<form method="post">
 {% csrf_token %}
 {% bootstrap_form form %}
 <input type="submit" value="Enter" class="btn mb-5 btn-outline-success">
</form>
{% else %}
<p class="lead">
    Invalid link! Try requesting for a new link.
</p>
{% endif %}
</div>
</div>
{% endblock content %}